<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Barberos</h1>
    <% barberos.map(item=>{
        %>      
       <a href="barberos/<%= item.id %>"><%= item.datos.nombres %> </a>
       <a href="/barberos/delete/<%= item.id %>">Delete</a>
       <br>

       
    <%} ) %>
   
        
    
</body>
</html>